{erl_opts, [
    debug_info,
    warn_unused_vars,
    warn_shadow_vars,
    warn_unused_import
]}.

{deps, [
]}.

{eunit_opts, [verbose]}.

{xref_checks, [undefined_function_calls,
               locals_not_used,
               deprecated_function_calls]}.

{edoc_opts, [
    {preprocess, true}, {stylesheet, "style.css"}
]}.

{profiles, [
	{edoc_private, [
		{edoc_opts, [
			{private, true}
		]}
	]},
	{test, [
	    {dialyzer, [
          {warnings, [
              no_return
          ]}
        ]}
    ]}
]}.